absl-py==2.1.0
astunparse==1.6.3
attrs==23.2.0
blinker==1.8.2
certifi==2024.2.2
cffi==1.16.0
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
comtypes==1.4.5
contourpy==1.2.1
cycler==0.12.1
distlib==0.3.8
dm-tree==0.1.8
filelock==3.13.1
Flask==3.0.3
flatbuffers==23.5.26
fonttools==4.53.0
fsspec==2024.2.0
gast==0.5.4
google-pasta==0.2.0
grpcio==1.62.0
gTTS==2.5.1
h5py==3.10.0
huggingface-hub==0.20.3
idna==3.6
itsdangerous==2.2.0
jax==0.4.30
jaxlib==0.4.30
Jinja2==3.1.4
keras==3.0.5
kiwisolver==1.4.5
libclang==16.0.6
Markdown==3.5.2
markdown-it-py==3.0.0
MarkupSafe==2.1.5
matplotlib==3.9.0
mdurl==0.1.2
mediapipe==0.10.14
ml-dtypes==0.3.2
namex==0.0.7
numpy==1.26.4
opencv-contrib-python==4.9.0.80
opencv-python==4.9.0.80
opt-einsum==3.3.0
packaging==23.2
pillow==10.3.0
platformdirs==4.2.0
protobuf==4.25.3
psutil==6.0.0
PyAudio==0.2.14
pycaw==20240210
pycparser==2.21
Pygments==2.17.2
pyparsing==3.1.2
python-dateutil==2.9.0.post0
PyYAML==6.0.1
regex==2023.12.25
requests==2.31.0
rich==13.7.0
safetensors==0.4.2
scipy==1.14.0
setuptools==69.1.1
six==1.16.0
sounddevice==0.4.6
SpeechRecognition==3.10.4
tensorboard==2.16.2
tensorboard-data-server==0.7.2
tensorflow==2.16.0rc0
tensorflow-intel==2.16.0rc0
termcolor==2.4.0
tf-keras==2.15.0
tokenizers==0.15.2
tqdm==4.66.2
transformers==4.38.1
typing_extensions==4.9.0
urllib3==2.2.1
virtualenv==20.25.1
Werkzeug==3.0.1
wheel==0.42.0
wrapt==1.16.0
